.logo {
    color: white;
    /* Text color */
    text-align: center;
    text-decoration: none;
    /* Remove underline */
    border: none;
    cursor: pointer;
    font-size: 2rem;
    margin: 0 auto;
    margin-right: 0.5rem;
    min-width: 12rem;
}

.login-header {
    text-align: center;
    font-size: 4em;
}

.loading-message {
    font-size: 2rem;
}

.login-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    margin-top: 1rem;
    align-items: center;
}

.login input, .login button {
    padding: 0.5em;
    border-radius: 15px;
}

.form__persist {
    display: flex;
    align-items: center;
    transform: translateX(-27%);
    gap: 0.5rem;
}

.form__checkbox {
    width: 1.3rem;
    height: 1.3rem;
}

.no_account {
    transform: translateX(-18%);
}

.forgot_password {
    transform: translateX(-43%);
}