@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

footer a {
    padding-right: 1rem;
}

.public {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin: 10% auto;
    flex-direction: column;
    font-family: "Major Mono Display", serif;
    font-size: 3rem;
}


.title {
    letter-spacing: 0.5em;
    font-family: "Major Mono Display", serif;
    margin-bottom: 10%;
}

.public-footer {
    margin: 0 auto;
}

.button {
    padding: 5%;
    background-color: #b7f8f8; /* Button color */
    color: black; /* Text color */
    text-align: center;
    text-decoration: none; /* Remove underline */
    border: none;
    border-radius: 50%;/* Rounded corners */
    cursor: pointer;
    font-size: 1.6rem;
    margin-right: 7%; 
}

.button:hover {
    background-color: #a63a84; /* Darker shade on hover */
}