.profile {
    margin: 20px 0;
    padding: 20px;
    align-items: center;
    
  }
  .profile .avatar {
    width: 125px;
    height: 125px;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .profile-page-header {
    display: inline-flex;
  }

  .profile-name {
    display: inline-block;
    font-weight: 1000;
    font-size: 3em;
  }
  
  .profile .avatar img {
    width: 100%;
    height: 125px;
    border-radius: 100%;
    border: solid 4px #070707;
  }
  
  .profile .body {
    text-align: left;
    border-radius: 15px;
    box-shadow: 3px 10px 15px hsl(0deg 0% 0% / 0.31);
  }
  
  .profile .avatar .avatar-wrapper {
    position: relative;
  }
  
  .profile .avatar > div > div {
    display: flex;
    justify-content: center;
  }
  
  .profile .avatar .avatar-wrapper button {
    bottom: 12px;
    display: none;
    position: absolute;
    background-color: #070707;
    border: 1px solid #070707;
  }
  
  .profile .avatar .avatar-wrapper:hover button {
    display: block;
    background-color: #c0a8a8;
  }
  
  .profile .avatar svg {
    font-size: 125px;
  }
  
  .profile p {
    margin: 0;
    margin-bottom: 10px;
  }