@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

/* || UTILITY CLASSES */
.errmsg {
  color: #ff4444;
}

/* || GENERAL STYLES */

body {
  font: 1.5rem ;
  min-height: 100vh;
  background-color: #211e1e;
  color: #ffffff;
}

input, button {
  font: inherit;
}

#root {
  min-height: 100vh;
  padding: 1rem;
}

/* a, a:visited {
  color: whitesmoke;
}

a:hover, a:focus {
  color: rgba(245, 245, 245, 0.9);
} */

/* || LOGIN */




/* || PAGES */

.welcome, .users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public main {
  flex-grow: 1;
  border-top: 2px solid #ff69b4;
  border-bottom: 2px solid #ff69b4;
  padding: 1rem;
}

.users ul {
  list-style-type: none;
}
